[pyprland]
hyprland_version = "0.52.1"
plugins = [
  "scratchpads",
  "shortcuts_menu",
  "layout_center"
]

# === Scratchpads ===
[scratchpads."windows.common"]
size = "30% 80%"
margin = "2%"
close_on_hide = true
pinned = true
lazy = true

[scratchpads."windows.app"]
lazy = true

[scratchpads."windows.terminal"]
size = "30% 80%"
margin = "2%"
class = "Alacritty"
use = "windows.common"

[scratchpads."top/gputop"]
animation = "fromRight"
command = "alacritty --command amdgpu_top"
use = "windows.terminal"

[scratchpads."top/btop"]
animation = "fromRight"
command = "alacritty --command btop"
use = "windows.terminal"

[scratchpads.term]
animation = "fromTop"
command = "alacritty"
size = "30% 60%"
margin = "10%"
use = "windows.terminal"

[scratchpads.volume]
animation = "fromTop"
command = "pavucontrol"
class = "org.pulseaudio.pavucontrol"
size = "30% 60%"
margin = "10%"
use = "windows.common"

[scratchpads."im/telegram"]
animation = "fromTop"
command = "Telegram"
match_by = "initialTitle"
class = "org.telegram.desktop"
initialTitle = "Telegram"
size = "30% 80%"
margin = "10%"
use = "windows.app"

# === Shortcuts Menu ===
[shortcuts_menu]
engine = "rofi"
parameters = "-dmenu -i -p Menu -theme $HOME/.config/rofi/conf/launcher.rasi"

[shortcuts_menu.entries]
"Clean clipboard history" = "cliphist wipe"
"Clipboard history" = [
    {name="entry", command="$HOME/.config/rofi/bin/clipboard"},
    ""
]
"Screenshot monitor" = [
    {name="monitor", command='hyprctl activeworkspace | grep -oP "on monitor \K[^:]+"'},
    "sleep 0.3; $HOME/.config/hypr/scripts/screenshot-monitor.sh [monitor]"
]
"Copy password" = [
    {name="entry", command="gopass ls --flat"},
    "gopass show -c [entry]"
]
"Kill program" = [
    {name="entry", command="pgrep -u $USER -l | awk '{print $2}'"},
    "pkill [entry]"
]
"Video recording" = [
    {name="entry", command="$HOME/.config/rofi/bin/video-recording-menu"},
    ""
]

# === Layout Center ===
[layout_center]
margin = [1600, 60]
offset = [0, 30]
