[pyprland]
hyprland_version = "0.52.0"
plugins = [
  "scratchpads",
  "shortcuts_menu",
  "layout_center"
]

# === Scratchpads ===
[scratchpads."windows.common"]
size = "70% 70%"
margin = "20%"
lazy = true
close_on_hide = true
pinned = true

[scratchpads."windows.app"]
size = "70% 70%"
margin = "20%"
lazy = true

[scratchpads."windows.terminal"]
class = "Alacritty"
use = "windows.common"

[scratchpads."top/gputop"]
animation = "fromRight"
command = "alacritty --command nvtop"
use = "windows.terminal"

[scratchpads."top/btop"]
animation = "fromRight"
command = "alacritty --command btop"
use = "windows.terminal"

[scratchpads.term]
animation = "fromTop"
command = "alacritty"
use = "windows.terminal"

[scratchpads.volume]
animation = "fromTop"
command = "pavucontrol"
class = "org.pulseaudio.pavucontrol"
use = "windows.common"

[scratchpads."im/telegram"]
animation = "fromTop"
command = "Telegram"
match_by = "initialTitle"
class = "org.telegram.desktop"
initialTitle = "Telegram"
use = "windows.app"

# === Shortcuts Menu ===
[shortcuts_menu]
engine = "rofi"
parameters = "-dmenu -i -p Menu -theme $HOME/.config/rofi/conf/launcher.rasi"

[shortcuts_menu.entries]
"Clean clipboard history" = "cliphist wipe"
"Clipboard history" = [
    {name="entry", command="$HOME/.config/rofi/bin/clipboard"},
    ""
]
"Screenshot monitor" = [
    {name="monitor", command='hyprctl activeworkspace | grep -oP "on monitor \K[^:]+"'},
    "sleep 0.3; $HOME/.config/hypr/scripts/screenshot-monitor.sh [monitor]"
]
"Copy password" = [
    {name="entry", command="gopass ls --flat"},
    "gopass show -c [entry]"
]
"Kill program" = [
    {name="entry", command="pgrep -u $USER -l | awk '{print $2}'"},
    "pkill [entry]"
]
"Video recording" = [
    {name="entry", command="$HOME/.config/rofi/bin/video-recording-menu"},
    ""
]

# === Layout Center ===
[layout_center]
margin = [60, 70]
offset = [2600, 60]
